APP_PORT=3000

CORS_ORIGIN_HTTP=http://localhost:5036
CORS_ORIGIN_HTTPS=https://localhost:7197

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=porstgres
DB_NAME=postgres

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT configuration
JWT_SECRET=supersecretkey
JWT_EXPIRATION=24h